<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Manager</title>
    <link href="<%= url("/main.css")%>" rel="stylesheet">
    <link href="<%= url("/bootstrap.css")%>" rel="stylesheet">

  </head>
  <body>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Task Manager</a>
        </div>
          <ul class="nav navbar-nav">
            <li><a href="/tasks/new">New Task</a></li>
            <li><a href="/tasks">Task List</a></li>
          </ul>
        </div>
      </nav>

    <div class="welcome-sign body-content">
    <a href="/tasks">Task Index</a>
  </div>
  
<div class="container text-center">
  <form action="/tasks/<%= @task.id %>" method="post">
    <h1 class="welcome-sign text-center">Edit Your Task</h1>
    <div class="form-group">
    <input type="hidden" name="_method" value="PUT" />
    <input type='text' name='task[title]' value="<%= @task.title %>" class="form-control text-center" /><br/>
    </div>
    <div class="form-group">
    <textarea name='task[description]' class="form-control text-center" rows="7"><%= @task.description %></textarea><br/>
    <input type='submit'class="btn btn-success" />
  </div>
  </div>
  </form>
</div>
  
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>


</body>
</html>